.cell{
    -fx-pref-height: 20px;
    -fx-pref-width: 20px;
    -fx-fill: #4fbcff;
    -fx-arc-height: 5px;
    -fx-arc-width: 5px;
}

.cell:hover{
    -fx-fill: #14a2fa;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
